@charset "utf-8";
html,body{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);height:100%;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
@media screen and (max-width:375px) and (min-width:321px){html{font-size:22px}}@media screen and (max-width:568px) and (min-width:376px)
{html{font-size:24px}}@media screen and (min-width:569px) and (max-width:768px){html{font-size:35px}}a{text-decoration:none;-webkit-touch-callout:none;outline:0}
body{overflow-x:hidden;font-family:"Helvetica Neue",Helvetica,STHeiTi,sans-serif}

/*性别*/
.flexBox{  display: -webkit-box;display: -moz-box;display: -ms-flexbox; display: -webkit-flex;display: flex;}
.flex1{-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.cont-ct{display:-ms-flexbox;-ms-flex-pack:center;-ms-flex-align:center;display:-moz-box;-moz-box-pack:center;-moz-box-align:center;display:-webkit-box;-webkit-box-pack:center;-webkit-box-align:center;display:box;box-pack:center;box-align:center;}
.header{ padding:.8rem .85rem; border-bottom: 1px solid #e6e6e6; font-size: .7rem; color: #303030;}
.header .header-cont{ height: 1.4rem; line-height: 1.55rem; padding-left: 1.7rem;}
.reg2-icons{ background: url('//images.zastatic.com/imwap/wap2015/images/register201603/register2-icons_4670b81.png') no-repeat; background-size:1.8rem  18.3rem;}
.genderBox .sex-header{ padding: .5rem 1rem .75rem 1rem; background: #6f3987; color: #fff;}
.genderBox .sex-header .login-btn{  border:1px solid #bc94d0; border-radius: 5px; padding: .3rem .85rem; float: right; font-size: .65rem; color:#fff}
.genderBox .sex-header .logo{display: inline-block; vertical-align: middle;}
.genderBox .sex-header .logo{ width: 2.6rem; height:1.25rem; background: url('//images.zastatic.com/imwap/wap2015/images/register201603/za-logo_734615d.png') no-repeat; background-size: contain;}
.genderBox .title{position: relative;padding: 1rem 0 1rem 3.5rem;background-color: #f0f0f0; }
.genderBox .title h1{font-size: .6rem;line-height: .75rem; color: #909090;}
.genderBox .title .title-icon{display: inline-block; position: absolute; left:1rem; top: .5rem; width:1.75rem; height: 2.2rem; background-position: 0 0;}
.genderBox .gender-head{background-position: 0 -6.75rem;}
.genderBox .content p{ text-align: center; font-size: .8rem;}
.genderBox .content .circle{ width: 4.5rem; height: 4.5rem; margin: 1rem 0; border-radius: 100%;}
.genderBox .content .female p{ color: #ff5959;}
.genderBox .content .male{ position: relative;}
.genderBox .content .male:after{ position: absolute; left:0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); content: ''; height: 2rem; width: 2px; border-left: 1px solid #dfdfdf;}
.genderBox .content .male p{ color: #42a4ff;}
.genderBox .content .boy{ background-color: #42a4ff;}
.genderBox .content .girl{ background-color:#ff5959 ;}
.genderBox .content .circle .gb{ display: inline-block; width: 1.83rem; height: 1.83rem;}
.genderBox .content .circle .gb.g{ background-position: 0 -2.5rem;}
.genderBox .content .circle .gb.b{ background-position: 0 -4.6rem;}

